# Writing data to and reading data from a Database using Python

## Libraries and settings

In [2]:
# Libraries
import os
import sqlite3
import fnmatch
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Function to close a sqlite db-connection
def check_conn(conn):
     try:
        conn.cursor()
        return True
     except Exception as ex:
        return False

# Get current working directory
print(os.getcwd())

/workspaces/data_analytics_HS24/Week_02

## Create sqlite data base

In [3]:
# Create data base
conn = sqlite3.connect('supermarket_database.db') 
cursor = conn.cursor()

# Show dbs in the directory
flist = fnmatch.filter(os.listdir('.'), '*.db')
for i in flist:
    print(i)

apartment_database.db
supermarket_database.db

## Create SQL-table in the database

In [4]:
# create table for the following columns: type,id,lat,lon,brand,shop,city,street,housenumber,postcode,opening_hours
cursor.execute('''CREATE TABLE IF NOT EXISTS supermarkets_table (Type VARCHAR(50),
                                                                 Id VARCHAR(50),
                                                                 Lat DECIMAL(8,2),
                                                                 Lon DECIMAL(8,2),
                                                                 Brand VARCHAR(50),
                                                                 Shop VARCHAR(50),
                                                                 City VARCHAR(50),
                                                                 Street VARCHAR(50),
                                                                 Housenumber VARCHAR(50),
                                                                 Postcode VARCHAR(50),
                                                                 Opening_hours VARCHAR(50))''')
# Confirm changes to the table
conn.commit()

## Read data from file to data frame

In [16]:
df = pd.read_csv('supermarkets_data_prepared.csv',
                  sep=',', 
                  encoding='utf-8')[['type','id','lat','lon','brand','shop','city','street','housenumber','postcode','opening_hours']]  
print(df.shape)
df.head(5)

(3392, 11)

,type,id,lat,lon,brand,shop,city,street,housenumber,postcode,opening_hours
0,node,33126515,47.155616,9.037915,Spar,supermarket,NaN,NaN,NaN,NaN,Mo-Th 08:00-19:00; Fr 08:00-20:00; Sa 08:00-17:00
1,node,36726161,47.226191,8.980329,Migros,supermarket,Uznach,Zürcherstrasse,25,8730.0,"Mo-Th 08:00-19:00, Fr 08:00-20:00, Sa 07:30-17..."
2,node,39768209,47.225069,8.969981,Coop,supermarket,Uznach,NaN,NaN,8730.0,NaN
3,node,39947904,47.376732,8.542161,Coop,supermarket,Zürich,Bahnhofbrücke,1,8001.0,Mo-Sa 06:00-22:00
4,node,48932835,47.375020,8.522895,Migros,supermarket,Zürich,Wengistrasse,7,8004.0,Mo-Sa 08:00-21:00; PH off

## Write data to the SQL-table in data base

In [17]:
df.to_sql(name = 'supermarkets_table',
          con = conn,
          index = False,
          if_exists = 'replace')

3392

## Additional SQL Query winterthur

In [24]:
# SQL Query to filter all supermarkets in the city of Winterthur
cursor.execute('''SELECT * FROM supermarkets_table WHERE City = 'Winterthur' ''')
columns = ['type', 'id', 'lat', 'lon', 'brand', 'shop', 'city', 'street', 'housenumber', 'postcode', 'opening_hours']
df = pd.DataFrame(cursor.fetchall(), columns = columns)
print(df.shape)
df.head(5)

(27, 11)

,type,id,lat,lon,brand,shop,city,street,housenumber,postcode,opening_hours
0,node,70656488,47.491874,8.706448,Migros,supermarket,Winterthur,Zürcherstrasse,102,8406.0,Mo-Fr 07:30-20:00; PH off; Sa 08:00-19:00
1,node,246533376,47.518953,8.720071,Migros,supermarket,Winterthur,Schaffhauserstrasse,152,8400.0,"Mo-Fr 08:30-20:00, Sa 08:00-18:00; PH off"
2,node,548919417,47.506863,8.712208,Migros,supermarket,Winterthur,Wülflingerstrasse,71,8400.0,"Mo-Fr 07:30-20:00, Sa 08:00-18:00; PH off"
3,node,677194765,47.503208,8.752131,None,supermarket,Winterthur,Frauenfelderstrasse,69,8404.0,None
4,node,706203439,47.500848,8.725938,None,supermarket,Winterthur,Bankstrasse,8/12,8400.0,"Mo-Fr 08:30-20:00; Sa 08:00-20:00; Su,PH off"

## Close db connection (if open)

In [25]:
# Close db connection (if open)
try:
    if check_conn(conn):
        conn.close()
    else:
        pass
except:
    pass

# Status (True = open, False = closed)
print(check_conn(conn))

False

### Jupyter notebook --footer info-- (please always provide this at the end of each submitted notebook)

In [28]:
import os
import platform
import socket
from platform import python_version
from datetime import datetime

print('-----------------------------------')
print(os.name.upper())
print(platform.system(), '|', platform.release())
print('Datetime:', datetime.now().strftime("%Y-%m-%d %H:%M:%S"))
print('Python Version:', python_version())
print('-----------------------------------')

-----------------------------------
POSIX
Linux | 6.5.0-1025-azure
Datetime: 2024-10-08 13:04:26
Python Version: 3.11.10
-----------------------------------